<h1>Convert <%= @from_currency %></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @exchange_symbols.each do |symbols| %>
    <li>
      <a href="/<%= @from_currency %>/<%= symbols %>">Convert 1 <%= @from_currency %> to <%= symbols %>...</a>
    </li>
  <% end %>

</ul>
